body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 100px;
}

ul, li {
  margin: 0;
  padding: 0;
}

.main-selection {
  position: relative;
  padding: .5em 0 .15em;
  height: 50px;
  width: 362px;
  color: #fff;
  background-color: #eb4d3e;
  border-radius: 8px;
  font-size: 1.35em;
}

.select-title {
  font-size: 1em;
  display: inline-block;
  margin: 2px 0 0 30px
}

.select-btn {
  position: absolute;
  top: 28px;
  left: 300px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #fff;
}

.select-btn:hover + .select-list{
  display: block;
}

.select-list {
  display: none;
  position: relative;
  margin-top: 55px;
}

.select-list::before {
  content: "";
  position: absolute;
  left: 300px;
  top: -30px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #eb4d3e;
}

ul {
  display: inline-block;
  list-style-type: none;
  border-radius: 8px;
  background-color: #eb4d3e;
}

.select-list li {
  text-align: left;
  height: 50px;
  width: 362px;
  padding-top: .55em;
  border-bottom: 2px solid #ed7466
}

.select-list li:last-child {
  border-bottom: none;
}

.icon {
  background-image: url(./icon.png);
  background-repeat:  no-repeat;
  background-size: 150px 100px;
}

.icon-heart {
  background-position: 20px -31px;
}

.icon-star {
  background-position: -44px 16px;
}

.icon-message {
  background-position: 22px 18px;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 75px;
  background-color: #eb4d3e;
}
