body {
  margin: 0;
  padding: 0;
}

.action-list {
  margin: 10% 20%;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.main-selection {
  position: relative;
  height: 65px;
  width: 355px;
  line-height: 65px;
  color: #fff;
  background-color: #eb4d3e;
  border-radius: 8px;
  font-size: 27px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
}

.select-title {
  font-size: 27px;
  display: inline-block;
  margin: 0 35px;
}

.select-btn {
  position: absolute;
  display: inline-block;
  top: 25px;
  right: 30px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #fff;
}

.select-btn:hover + .select-list{
  display: block;
}

.select-list {
  display: none;
  position: relative;
  margin-top: 55px;
}

.select-list::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 30px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #eb4d3e;
}

ul {
  display: inline-block;
  list-style-type: none;
  border-radius: 8px;
  background-color: #eb4d3e;
}

.select-list li {
  height: 65px;
  width: 355px;
  line-height: 65px;
  border-bottom: 2px solid #ed7466;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
}

.select-list li:last-child {
  border-bottom: none;
}

.icon {
  background-image: url(./icon.png);
  background-repeat: no-repeat;
  background-size: 150px 100px;
}

.icon-heart {
  background-position: 20px -31px;
}

.icon-star {
  background-position: -44px 16px;
}

.icon-message {
  background-position: 22px 18px;
}

a {
  display: inline-block;
  margin-left: 75px;
  height: 100%;
  text-decoration: none;
  color: white;
  background-color: #eb4d3e;
}
